/* Seletor universal (asterisco) */
* {
  margin: 0;
  padding: 0;
}

/* Seletor de tag */
header,
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/* Seletor de elementos aninhados */
nav a {
  color: #27ae60;
}

/* Seletor de filhos */
nav > a {
  display: block;
  color: #f5a623;
  padding: 10px;
}

/* Seletor de classes */
.laranja {
  color: #f5a623;
}

.verde {
  color: #27ae60;
}

/* Seletor de id */
#secao-principal {
  padding: 20px;
  text-align: center;
}

/* Combinação de seletores */
#secao-principal > * {
  margin-top: 10px;
}

input {
  display: block;
  margin: 5px;
  padding: 5px;
}

/* Seletor de sequência */
input + input {
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 + p {
  padding: 30px;
}

/* Seletor de propriedade */
input[name="email"] {
  background-color: #f5a623;
}

input[type="password"] {
  background-color: #27ae60;
}
