body {
  width: 98vw;
  height: 100vh;
}

.header {
  text-align: center;
}

.header-cabecalho {
  padding: 1rem;
}

.cabecalho-title {
  font-size: 2rem;
}

.cabecalho-paragraf {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

hr {
  border: 0.5px solid #787878;
}

.container {
  width: 100%;
  display: block;
}

.main-cabecalho {
  text-align: center;
  padding: 1rem;
  line-height: 2rem;
}

.title {
  font-size: 1.5rem;
}

.paragraf {
  font-size: 0.8rem;
}

.btn-cabecalho {
  background-color: #000;
  color: #fff;
  padding: 0.8rem;
  border: none;
  border-radius: 20px;
  font-size: 0.8rem;
  margin-top: 1.5rem;
  width: 120px;
  transition: 0.3s ease-in-out;
}

.btn-cabecalho:hover {
  cursor: pointer;
  background-color: #2e2e2e;
}

.imagem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem .img img {
  width: 95%;
}

.catalogo {
  padding: 2rem;
  text-align: center;
  line-height: 2rem;
}

.secoes {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.btn-secoes {
  border: none;
  padding: 0.5rem;
  background-color: #43abf6;
  border-radius: 20px;
  width: 95px;
  transition: 0.3s all;
}

.btn-secoes:hover {
  cursor: pointer;
  background-color: #2a7eba;
}

.btn-ver-mais {
  border: none;
  padding: 0.5rem;
  background-color: #000;
  border-radius: 20px;
  width: 95px;
  transition: 0.3s all;
}

.btn-ver-mais:hover {
  background-color: #2e2e2e;
  transition: 0.3s all;
}

.btn-ver-mais a {
  font-weight: 600;
}

.btn-ver-mais a:hover {
  cursor: pointer;
}

a {
  color: #fff;
  font-size: 0.7rem;
}

.incricao {
  padding: 2rem;
  text-align: center;
  line-height: 2rem;
}

.btn-register {
  background-color: #000;
  color: #fff;
  font-weight: 600;
  padding: 0.8rem;
  border: none;
  border-radius: 25px;
  width: 150px;
  margin-top: 2rem;
  transition: 0.3s ease-in-out;
}

.btn-register:hover {
  background-color: #2e2e2e;
  cursor: pointer;
  transition: 0.3s;
}
