:root {
  --cor-principal: #3c59e7;
  --cor-claro: #eaeaea;
  --cor-escuro: #232323;

  --preenchimento-pq: 0.25rem 1rem;
  --preenchimento-md: 2rem;
  --preenchimento-gd: 4rem;
}

header {
  background-color: var(--cor-escuro);
  color: var(--cor-claro);
  padding: var(--preenchimento-pq);
}

section {
  background-color: var(--cor-claro);
  padding: var(--preenchimento-md);
}

div {
  background-color: var(--cor-principal);
  color: var(--cor-claro);
  padding: var(--preenchimento-gd);
}

.red-box {
  --cor-principal: #f64348;
}
